
@font-face {
  font-family: 'dashicons-extended';
  src: url('font/dashicons-extended.eot');
  src: url('font/dashicons-extended.eot?#iefix') format('embedded-opentype'),
    url('font/dashicons-extended.woff') format('woff'),
    url('font/dashicons-extended.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.dashicons,
.dashicons-before:before {
	font-family: 'dashicons-extended';
	display: inline-block;
	line-height: 1;
	font-weight: normal;
	font-style: normal;
	speak: none;
	text-decoration: inherit;
	text-transform: none;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width: 20px;
	height: 20px;
	font-size: 20px;
	vertical-align: top;
	text-align: center;
	transition: color .1s ease-in 0;
}

.dashicons-admin-appearance:before { content: "\EA01" }
.dashicons-admin-collapse:before { content: "\EA02" }
.dashicons-admin-comments:before { content: "\EA03" }
.dashicons-admin-customizer:before { content: "\EA04" }
.dashicons-admin-generic:before { content: "\EA05" }
.dashicons-admin-home:before { content: "\EA06" }
.dashicons-admin-links:before { content: "\EA07" }
.dashicons-admin-media:before { content: "\EA08" }
.dashicons-admin-multisite:before { content: "\EA09" }
.dashicons-admin-network:before { content: "\EA0A" }
.dashicons-admin-page:before { content: "\EA0B" }
.dashicons-admin-plugins:before { content: "\EA0C" }
.dashicons-admin-post:before { content: "\EA0D" }
.dashicons-admin-settings:before { content: "\EA0E" }
.dashicons-admin-site-alt:before { content: "\EA0F" }
.dashicons-admin-site-alt2:before { content: "\EA10" }
.dashicons-admin-site-alt3:before { content: "\EA11" }
.dashicons-admin-site:before { content: "\EA12" }
.dashicons-admin-tools:before { content: "\EA13" }
.dashicons-admin-users:before { content: "\EA14" }
.dashicons-album:before { content: "\EA15" }
.dashicons-align-center:before { content: "\EA16" }
.dashicons-align-left:before { content: "\EA17" }
.dashicons-align-none:before { content: "\EA18" }
.dashicons-align-right:before { content: "\EA19" }
.dashicons-analytics:before { content: "\EA1A" }
.dashicons-archive:before { content: "\EA1B" }
.dashicons-arrow-down-alt:before { content: "\EA1C" }
.dashicons-arrow-down-alt2:before { content: "\EA1D" }
.dashicons-arrow-down:before { content: "\EA1E" }
.dashicons-arrow-left-alt:before { content: "\EA1F" }
.dashicons-arrow-left-alt2:before { content: "\EA20" }
.dashicons-arrow-left:before { content: "\EA21" }
.dashicons-arrow-right-alt:before { content: "\EA22" }
.dashicons-arrow-right-alt2:before { content: "\EA23" }
.dashicons-arrow-right:before { content: "\EA24" }
.dashicons-arrow-up-alt:before { content: "\EA25" }
.dashicons-arrow-up-alt2:before { content: "\EA26" }
.dashicons-arrow-up:before { content: "\EA27" }
.dashicons-art:before { content: "\EA28" }
.dashicons-awards:before { content: "\EA29" }
.dashicons-backup:before { content: "\EA2A" }
.dashicons-book-alt:before { content: "\EA2B" }
.dashicons-book:before { content: "\EA2C" }
.dashicons-buddicons-activity:before { content: "\EA2D" }
.dashicons-buddicons-bbpress-logo:before { content: "\EA2E" }
.dashicons-buddicons-buddypress-logo:before { content: "\EA2F" }
.dashicons-buddicons-community:before { content: "\EA30" }
.dashicons-buddicons-forums:before { content: "\EA31" }
.dashicons-buddicons-friends:before { content: "\EA32" }
.dashicons-buddicons-groups:before { content: "\EA33" }
.dashicons-buddicons-pm:before { content: "\EA34" }
.dashicons-buddicons-replies:before { content: "\EA35" }
.dashicons-buddicons-topics:before { content: "\EA36" }
.dashicons-buddicons-tracking:before { content: "\EA37" }
.dashicons-building:before { content: "\EA38" }
.dashicons-businessman:before { content: "\EA39" }
.dashicons-calendar-alt:before { content: "\EA3A" }
.dashicons-calendar:before { content: "\EA3B" }
.dashicons-camera:before { content: "\EA3C" }
.dashicons-carrot:before { content: "\EA3D" }
.dashicons-cart:before { content: "\EA3E" }
.dashicons-category:before { content: "\EA3F" }
.dashicons-chart-area:before { content: "\EA40" }
.dashicons-chart-bar:before { content: "\EA41" }
.dashicons-chart-line:before { content: "\EA42" }
.dashicons-chart-pie:before { content: "\EA43" }
.dashicons-clipboard:before { content: "\EA44" }
.dashicons-clock:before { content: "\EA45" }
.dashicons-cloud:before { content: "\EA46" }
.dashicons-controls-back:before { content: "\EA47" }
.dashicons-controls-forward:before { content: "\EA48" }
.dashicons-controls-pause:before { content: "\EA49" }
.dashicons-controls-play:before { content: "\EA4A" }
.dashicons-controls-repeat:before { content: "\EA4B" }
.dashicons-controls-skipback:before { content: "\EA4C" }
.dashicons-controls-skipforward:before { content: "\EA4D" }
.dashicons-controls-volumeoff:before { content: "\EA4E" }
.dashicons-controls-volumeon:before { content: "\EA4F" }
.dashicons-dashboard:before { content: "\EA50" }
.dashicons-desktop:before { content: "\EA51" }
.dashicons-dismiss:before { content: "\EA52" }
.dashicons-download:before { content: "\EA53" }
.dashicons-edit:before { content: "\EA54" }
.dashicons-editor-aligncenter:before { content: "\EA55" }
.dashicons-editor-alignleft:before { content: "\EA56" }
.dashicons-editor-alignright:before { content: "\EA57" }
.dashicons-editor-bold:before { content: "\EA58" }
.dashicons-editor-break:before { content: "\EA59" }
.dashicons-editor-code:before { content: "\EA5A" }
.dashicons-editor-contract:before { content: "\EA5B" }
.dashicons-editor-customchar:before { content: "\EA5C" }
.dashicons-editor-expand:before { content: "\EA5D" }
.dashicons-editor-help:before { content: "\EA5E" }
.dashicons-editor-indent:before { content: "\EA5F" }
.dashicons-editor-insertmore:before { content: "\EA60" }
.dashicons-editor-italic:before { content: "\EA61" }
.dashicons-editor-justify:before { content: "\EA62" }
.dashicons-editor-kitchensink:before { content: "\EA63" }
.dashicons-editor-ltr:before { content: "\EA64" }
.dashicons-editor-ol:before { content: "\EA65" }
.dashicons-editor-outdent:before { content: "\EA66" }
.dashicons-editor-paragraph:before { content: "\EA67" }
.dashicons-editor-paste-text:before { content: "\EA68" }
.dashicons-editor-paste-word:before { content: "\EA69" }
.dashicons-editor-quote:before { content: "\EA6A" }
.dashicons-editor-removeformatting:before { content: "\EA6B" }
.dashicons-editor-rtl:before { content: "\EA6C" }
.dashicons-editor-spellcheck:before { content: "\EA6D" }
.dashicons-editor-strikethrough:before { content: "\EA6E" }
.dashicons-editor-table:before { content: "\EA6F" }
.dashicons-editor-textcolor:before { content: "\EA70" }
.dashicons-editor-ul:before { content: "\EA71" }
.dashicons-editor-underline:before { content: "\EA72" }
.dashicons-editor-unlink:before { content: "\EA73" }
.dashicons-editor-video:before { content: "\EA74" }
.dashicons-email-alt:before { content: "\EA75" }
.dashicons-email-alt2:before { content: "\EA76" }
.dashicons-email:before { content: "\EA77" }
.dashicons-excerpt-view:before { content: "\EA78" }
.dashicons-external:before { content: "\EA79" }
.dashicons-facebook-alt:before { content: "\EA7A" }
.dashicons-facebook:before { content: "\EA7B" }
.dashicons-feedback:before { content: "\EA7C" }
.dashicons-filter:before { content: "\EA7D" }
.dashicons-flag:before { content: "\EA7E" }
.dashicons-format-aside:before { content: "\EA7F" }
.dashicons-format-audio:before { content: "\EA80" }
.dashicons-format-chat:before { content: "\EA81" }
.dashicons-format-gallery:before { content: "\EA82" }
.dashicons-format-image:before { content: "\EA83" }
.dashicons-format-quote:before { content: "\EA84" }
.dashicons-format-status:before { content: "\EA85" }
.dashicons-format-video:before { content: "\EA86" }
.dashicons-forms:before { content: "\EA87" }
.dashicons-googleplus:before { content: "\EA88" }
.dashicons-grid-view:before { content: "\EA89" }
.dashicons-groups:before { content: "\EA8A" }
.dashicons-hammer:before { content: "\EA8B" }
.dashicons-heart:before { content: "\EA8C" }
.dashicons-hidden:before { content: "\EA8D" }
.dashicons-id-alt:before { content: "\EA8E" }
.dashicons-id:before { content: "\EA8F" }
.dashicons-image-crop:before { content: "\EA90" }
.dashicons-image-filter:before { content: "\EA91" }
.dashicons-image-flip-horizontal:before { content: "\EA92" }
.dashicons-image-flip-vertical:before { content: "\EA93" }
.dashicons-image-rotate-left:before { content: "\EA94" }
.dashicons-image-rotate-right:before { content: "\EA95" }
.dashicons-image-rotate:before { content: "\EA96" }
.dashicons-images-alt:before { content: "\EA97" }
.dashicons-images-alt2:before { content: "\EA98" }
.dashicons-index-card:before { content: "\EA99" }
.dashicons-info:before { content: "\EA9A" }
.dashicons-laptop:before { content: "\EA9B" }
.dashicons-layout:before { content: "\EA9C" }
.dashicons-leftright:before { content: "\EA9D" }
.dashicons-lightbulb:before { content: "\EA9E" }
.dashicons-list-view:before { content: "\EA9F" }
.dashicons-location-alt:before { content: "\EAA0" }
.dashicons-location:before { content: "\EAA1" }
.dashicons-lock:before { content: "\EAA2" }
.dashicons-marker:before { content: "\EAA3" }
.dashicons-media-archive:before { content: "\EAA4" }
.dashicons-media-audio:before { content: "\EAA5" }
.dashicons-media-code:before { content: "\EAA6" }
.dashicons-media-default:before { content: "\EAA7" }
.dashicons-media-document:before { content: "\EAA8" }
.dashicons-media-interactive:before { content: "\EAA9" }
.dashicons-media-spreadsheet:before { content: "\EAAA" }
.dashicons-media-text:before { content: "\EAAB" }
.dashicons-media-video:before { content: "\EAAC" }
.dashicons-megaphone:before { content: "\EAAD" }
.dashicons-menu-alt:before { content: "\EAAE" }
.dashicons-menu:before { content: "\EAAF" }
.dashicons-microphone:before { content: "\EAB0" }
.dashicons-migrate:before { content: "\EAB1" }
.dashicons-minus:before { content: "\EAB2" }
.dashicons-money:before { content: "\EAB3" }
.dashicons-move:before { content: "\EAB4" }
.dashicons-nametag:before { content: "\EAB5" }
.dashicons-networking:before { content: "\EAB6" }
.dashicons-no-alt:before { content: "\EAB7" }
.dashicons-no:before { content: "\EAB8" }
.dashicons-palmtree:before { content: "\EAB9" }
.dashicons-paperclip:before { content: "\EABA" }
.dashicons-performance:before { content: "\EABB" }
.dashicons-phone:before { content: "\EABC" }
.dashicons-playlist-audio:before { content: "\EABD" }
.dashicons-playlist-video:before { content: "\EABE" }
.dashicons-plus-alt:before { content: "\EABF" }
.dashicons-plus-light:before { content: "\EAC0" }
.dashicons-plus:before { content: "\EAC1" }
.dashicons-portfolio:before { content: "\EAC2" }
.dashicons-post-status:before { content: "\EAC3" }
.dashicons-pressthis:before { content: "\EAC4" }
.dashicons-products:before { content: "\EAC5" }
.dashicons-randomize:before { content: "\EAC6" }
.dashicons-redo:before { content: "\EAC7" }
.dashicons-rest-api:before { content: "\EAC8" }
.dashicons-rss:before { content: "\EAC9" }
.dashicons-schedule:before { content: "\EACA" }
.dashicons-screenoptions:before { content: "\EACB" }
.dashicons-search:before { content: "\EACC" }
.dashicons-share-alt:before { content: "\EACD" }
.dashicons-share-alt2:before { content: "\EACE" }
.dashicons-share:before { content: "\EACF" }
.dashicons-shield-alt:before { content: "\EAD0" }
.dashicons-shield:before { content: "\EAD1" }
.dashicons-slides:before { content: "\EAD2" }
.dashicons-smartphone:before { content: "\EAD3" }
.dashicons-smiley:before { content: "\EAD4" }
.dashicons-sort:before { content: "\EAD5" }
.dashicons-sos:before { content: "\EAD6" }
.dashicons-star-empty:before { content: "\EAD7" }
.dashicons-star-filled:before { content: "\EAD8" }
.dashicons-star-half:before { content: "\EAD9" }
.dashicons-sticky:before { content: "\EADA" }
.dashicons-store:before { content: "\EADB" }
.dashicons-tablet:before { content: "\EADC" }
.dashicons-tag:before { content: "\EADD" }
.dashicons-tagcloud:before { content: "\EADE" }
.dashicons-testimonial:before { content: "\EADF" }
.dashicons-text:before { content: "\EAE0" }
.dashicons-thumbs-down:before { content: "\EAE1" }
.dashicons-thumbs-up:before { content: "\EAE2" }
.dashicons-tickets-alt:before { content: "\EAE3" }
.dashicons-tickets:before { content: "\EAE4" }
.dashicons-tide:before { content: "\EAE5" }
.dashicons-translation:before { content: "\EAE6" }
.dashicons-trash:before { content: "\EAE7" }
.dashicons-twitter:before { content: "\EAE8" }
.dashicons-undo:before { content: "\EAE9" }
.dashicons-universal-access-alt:before { content: "\EAEA" }
.dashicons-universal-access:before { content: "\EAEB" }
.dashicons-unlock:before { content: "\EAEC" }
.dashicons-update:before { content: "\EAED" }
.dashicons-upload:before { content: "\EAEE" }
.dashicons-vault:before { content: "\EAEF" }
.dashicons-video-alt:before { content: "\EAF0" }
.dashicons-video-alt2:before { content: "\EAF1" }
.dashicons-video-alt3:before { content: "\EAF2" }
.dashicons-visibility:before { content: "\EAF3" }
.dashicons-warning:before { content: "\EAF4" }
.dashicons-welcome-add-page:before { content: "\EAF5" }
.dashicons-welcome-comments:before { content: "\EAF6" }
.dashicons-welcome-learn-more:before { content: "\EAF7" }
.dashicons-welcome-view-site:before { content: "\EAF8" }
.dashicons-welcome-widgets-menus:before { content: "\EAF9" }
.dashicons-welcome-write-blog:before { content: "\EAFA" }
.dashicons-wordpress-alt:before { content: "\EAFB" }
.dashicons-wordpress:before { content: "\EAFC" }
.dashicons-yes-alt:before { content: "\EAFD" }
.dashicons-yes:before { content: "\EAFE" }
.dashicons-eti-briefcase:before { content: "\EAFF" }
.dashicons-eti-map-o:before { content: "\EB00" }
.dashicons-eti-map:before { content: "\EB01" }
.dashicons-eti-mug:before { content: "\EB02" }
.dashicons-eti-vimeo-circle:before { content: "\EB03" }
.dashicons-eti-vimeo-square:before { content: "\EB04" }
.dashicons-eti-vimeo:before { content: "\EB05" }
.dashicons-eti-wordpress-square:before { content: "\EB06" }
.dashicons-eti-youtube-circle:before { content: "\EB07" }
.dashicons-eti-youtube-square:before { content: "\EB08" }
.dashicons-eti-youtube:before { content: "\EB09" }
.dashicons-ext-android:before { content: "\EB0A" }
.dashicons-ext-anonymous:before { content: "\EB0B" }
.dashicons-ext-arrow-curved:before { content: "\EB0C" }
.dashicons-ext-at:before { content: "\EB0D" }
.dashicons-ext-backup:before { content: "\EB0E" }
.dashicons-ext-bar-graph-down:before { content: "\EB0F" }
.dashicons-ext-bar-graph-up:before { content: "\EB10" }
.dashicons-ext-bug-o:before { content: "\EB11" }
.dashicons-ext-cancel:before { content: "\EB12" }
.dashicons-ext-cd:before { content: "\EB13" }
.dashicons-ext-cloud-download:before { content: "\EB14" }
.dashicons-ext-cloud-upload:before { content: "\EB15" }
.dashicons-ext-cloud:before { content: "\EB16" }
.dashicons-ext-command-circle:before { content: "\EB17" }
.dashicons-ext-command:before { content: "\EB18" }
.dashicons-ext-crucifix:before { content: "\EB19" }
.dashicons-ext-css-o:before { content: "\EB1A" }
.dashicons-ext-documents-alt:before { content: "\EB1B" }
.dashicons-ext-documents:before { content: "\EB1C" }
.dashicons-ext-dollar-circle:before { content: "\EB1D" }
.dashicons-ext-dove:before { content: "\EB1E" }
.dashicons-ext-eye:before { content: "\EB1F" }
.dashicons-ext-female-question:before { content: "\EB20" }
.dashicons-ext-female:before { content: "\EB21" }
.dashicons-ext-flame:before { content: "\EB22" }
.dashicons-ext-hacker:before { content: "\EB23" }
.dashicons-ext-hash:before { content: "\EB24" }
.dashicons-ext-heart:before { content: "\EB25" }
.dashicons-ext-infinity:before { content: "\EB26" }
.dashicons-ext-instagram-circle:before { content: "\EB27" }
.dashicons-ext-instagram:before { content: "\EB28" }
.dashicons-ext-jet:before { content: "\EB29" }
.dashicons-ext-key:before { content: "\EB2A" }
.dashicons-ext-learn:before { content: "\EB2B" }
.dashicons-ext-lightbuilb-alt-o:before { content: "\EB2C" }
.dashicons-ext-lightbuilb-o:before { content: "\EB2D" }
.dashicons-ext-lightning-circle:before { content: "\EB2E" }
.dashicons-ext-lightning:before { content: "\EB2F" }
.dashicons-ext-male-question:before { content: "\EB30" }
.dashicons-ext-male:before { content: "\EB31" }
.dashicons-ext-masonry:before { content: "\EB32" }
.dashicons-ext-mobile-phone-circle:before { content: "\EB33" }
.dashicons-ext-music-note-alt:before { content: "\EB34" }
.dashicons-ext-music-note:before { content: "\EB35" }
.dashicons-ext-pie-chart-alt:before { content: "\EB36" }
.dashicons-ext-pie-chart-o:before { content: "\EB37" }
.dashicons-ext-pie-chart:before { content: "\EB38" }
.dashicons-ext-power-alt:before { content: "\EB39" }
.dashicons-ext-prompt-o:before { content: "\EB3A" }
.dashicons-ext-prompt:before { content: "\EB3B" }
.dashicons-ext-pulse:before { content: "\EB3C" }
.dashicons-ext-puzzle-piece:before { content: "\EB3D" }
.dashicons-ext-refresh:before { content: "\EB3E" }
.dashicons-ext-rocket:before { content: "\EB3F" }
.dashicons-ext-search:before { content: "\EB40" }
.dashicons-ext-seo:before { content: "\EB41" }
.dashicons-ext-shield-check:before { content: "\EB42" }
.dashicons-ext-shooting-star:before { content: "\EB43" }
.dashicons-ext-silverware:before { content: "\EB44" }
.dashicons-ext-smiley-o:before { content: "\EB45" }
.dashicons-ext-smiley:before { content: "\EB46" }
.dashicons-ext-spam:before { content: "\EB47" }
.dashicons-ext-speech:before { content: "\EB48" }
.dashicons-ext-stack:before { content: "\EB49" }
.dashicons-ext-star-and-crescent:before { content: "\EB4A" }
.dashicons-ext-star-circle:before { content: "\EB4B" }
.dashicons-ext-star-of-david:before { content: "\EB4C" }
.dashicons-ext-transmit:before { content: "\EB4D" }
.dashicons-ext-yin-yang:before { content: "\EB4E" }
.dashicons-align-full-width:before { content: "\EB4F" }
.dashicons-align-wide:before { content: "\EB50" }
.dashicons-block-default:before { content: "\EB51" }
.dashicons-button:before { content: "\EB52" }
.dashicons-columns:before { content: "\EB53" }
.dashicons-ellipsis:before { content: "\EB54" }
.dashicons-embed-audio:before { content: "\EB55" }
.dashicons-embed-generic:before { content: "\EB56" }
.dashicons-embed-photo:before { content: "\EB57" }
.dashicons-embed-post:before { content: "\EB58" }
.dashicons-embed-video:before { content: "\EB59" }
.dashicons-heading:before { content: "\EB5A" }
.dashicons-html:before { content: "\EB5B" }
.dashicons-info-outline:before { content: "\EB5C" }
.dashicons-insert:before { content: "\EB5D" }
.dashicons-saved:before { content: "\EB5E" }
.dashicons-table-col-after:before { content: "\EB5F" }
.dashicons-table-col-before:before { content: "\EB60" }
.dashicons-table-col-delete:before { content: "\EB61" }
.dashicons-table-row-after:before { content: "\EB62" }
.dashicons-table-row-before:before { content: "\EB63" }
.dashicons-table-row-delete:before { content: "\EB64" }


/* Additional CSS classes, manually added to the CSS template file */
.dashicons-format-links:before {
	content: "\EA07";
}

.dashicons-welcome-edit-page:before {
	content: "\EAFA";
}

.dashicons-format-standard:before {
	content: "\EA0D";
}