.dashicons-binary {
    font-family: 'dashicons-extended';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
}

.my-class-name:before{
	content: "\E001";
}

ul, li{
    margin: 0;
    padding: 0;
    list-style: none;
}
ul li{
    float: left;
    text-align: center;
}
ul li:hover{
    background: #ddd;
}

#icon-list li{
	padding: 10px;
}
.icon-show-type{
	clear: both;
}
.icon-show-type li span{
	display: block;
	padding: 10px;
}
.icon-show-type input{
	display: none;
}
.icon-show-type input:checked ~ span{
	background: #ddd;
}

i{
	display: block;
}

#icon-demo i{
	float: left;
    padding-left: 10px;
}
.class-name li, .hex li, .binary li{
	display: none;
}
.class-name li.class-name-demo {
  padding: 20px 10px 0px !important;
}
.class-name .class-name-demo{
	display: block;
}
.class-name .class-name-demo i:before {
  font-size: 2rem;
  position: relative;
  top: -10px;
}
.hex .hex-demo{
	display: block;
}
.binary .binary-demo{
	display: block;
}

.binary .binary-demo pre{
	display: inline;
}

.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden
}

body {
  margin-top: 1.5em;
}
pre {
  margin-bottom: 0;
}
.jumbotron {
  margin-top: 1em;
  width: 100%;
  padding: 1rem;
}
.icon-show-type {
  float: right;
}
.dashicons-custom-size {
  font-size: 2em;
  height: 1em;
  /* margin: .3em 0 0 .3em; */
}
#tab_content_container {
  padding: 0 2em 1em;
}
#tab_content {
  width: 100%;
}
#nav_tabs {
  position: relative;
  margin-top: -2.5em;
}
.hidden {
  display: none;
}
.display-class-name, .display-hex-binary {
  margin-bottom: 1em;
  text-align: center;
}
.display-class-name i, .display-hex-binary i {
  font-size: 2em;
  display: block;
  margin: 0 auto .25em;
  left: -.1em;
  position: relative;
}
.display-hex-binary i {
  margin: 0 auto .4em;
}
